<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kozmic CI</title>
    {% assets 'css' -%}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
      <nav class="navbar navbar-inverse navbar-static-top" id="topbar">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('projects.index') }}">Kozmic CI</a>
          </div>

          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{ url_for('repos.index') }}">New Project</a></li>
              {# TODO The link to docs must contain the current Kozmic CI version #}
              <li><a href="http://kozmic-ci.readthedocs.org/en/latest/">Docs</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle  username" data-toggle="dropdown">
                  <img src="{{ current_user.gh_avatar_url }}" class="img-circle">
                  &nbsp;{{ current_user.gh_name }} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('accounts.settings') }}">Account settings</a></li>
                  <li class="divider"></li>
                  <li><a href="{{ url_for('auth.logout') }}">Sign out</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container">
        {% block container %}
        {% endblock %}
        <footer>
          <p class="pull-left">
            Kozmic CI {{ get_version() }}<br>
            &copy; 2014, Anton Romanovich.
          </p>
          <p class="pull-right">
            Kozmic CI is open source software.
            <a class="btn btn-default btn-sm" href="https://github.com/aromanovich/kozmic-ci">
              Contribute
            </a>
          </p>
        </footer>
      </div>
    {% endblock %}
    {% assets 'js' -%}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {{ moment.include_moment() }}
    <script>
      $(function() {
        {% block onload_js %}{% endblock %}
      });
    </script>
  </body>
</html>
