<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kozmic CI</title>
    <script src="/static/js/libs/jquery.js"></script>
    <script src="/static/js/libs/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
      <nav class="navbar navbar-inverse" id="topbar" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('projects.index') }}">Kozmic CI &alpha;</a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle  username" data-toggle="dropdown">
                <img src="{{ current_user.gh_avatar_url }}" class="img-circle">
                &nbsp;{{ current_user.gh_name }} <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('repos.index') }}">Repositories</a></li>
                <li><a href="{{ url_for('accounts.settings') }}">Account settings</a></li>
                <li class="divider"></li>
                <li><a href="{{ url_for('auth.logout') }}">Sign out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container">
        {% block container %}
        {% endblock %}
      </div>
    {% endblock %}
  </body>
</html>
