{% extends '_base.html' %}

{% from '_utils.html' import render_status %}

{% block container %}
  <div class="row">
    <div class="col-md-3">
      <div class="list-group  projects">
        {% for project_, latest_build in
            current_user.get_available_projects(annotate_with_latest_builds=True) %}
            <a href="{{ url_for('.show', id=project_.id) }}"
               class="list-group-item{% if project_ == project %} selected{% endif %}">
            <h4 class="list-group-item-heading">{{ project_.gh_full_name }}</h4>
            {% if latest_build %}
              {{ render_status(latest_build.status, text=moment(latest_build.created_at).fromNow()) }}
            {% endif %}
          </a>
        {% endfor %}
      </div>
      <center>
        <form action="{{ url_for('accounts.sync_memberships') }}"
              method="POST" id="sync-user-memberships">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-refresh"></span> Sync projects with GitHub
          </button>
        </form>
      </center>
    </div>

    <div class="col-md-9">
      {% set tabs = [
          (url_for('.build', project_id=project.id, id='latest'),
                   'latest-build', 'Latest Build'),
          (url_for('.history', id=project.id), 'build-history', 'Build History'),
          (url_for('.settings', id=project.id), 'settings', 'Settings'),
      ] -%}
      {% set extra_tabs = extra_tabs|default([]) -%}
      {% set active_tab = active_tab|default('latest-build') -%}
      <h2 class="project-name">{{ project.gh_full_name }}</h2>
      <ul class="nav nav-tabs">
        {% for href, id, caption in tabs + extra_tabs %}
          <li{% if id == active_tab %} class="active"{% endif %}>
            <a href="{{ href|e }}">{{ caption|e }}</a>
          </li>
        {% endfor %}
      </ul>
      
      {% include '_messages.html' %}

      {% block content %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
