{% extends 'projects/_base.html' %}

{% if id == 'latest' %}
  {% set active_tab = 'latest-build' %}
{% else %}
  {% set active_tab = 'build' %}
  {% set extra_tabs = [
    (
      url_for('.build', project_id=project.id, id=id),
      'build',
      'Build #{}'.format(id)
    ),
  ] -%}
{% endif %}

{% block extra_head %}
  {{ render_ansi2html_style_tag()|safe }}
{% endblock %}

{% block content %}
  <dl class="dl-horizontal">
    <dt>#</dt>
    <dd>{{ build.number }}</dd>
    <dt>Status</dt>
    <dd>
      <span class="label
        label-{% if build.status == 'success' %}success{% elif build.status == 'failed' %}danger{% else %}default{% endif %}">
        {{ build.status|capitalize }}
      </span>
    </dd>
    <dt>Started at</dt>
    <dd>{{ build.started_at }}</dd>
    <dt>Finished at</dt>
    <dd>{{ build.finished_at }}</dd>
    <dt>Author</dt>
    <dd>{{ build.gh_commit_author }}</dd>
    <dt>Commit message</dt>
    <dd>{{ build.gh_commit_message }}</dd>
    <dt>Commit branch</dt>
    <dd>{{ build.gh_commit_ref }}</dd>
    <dt>Commit SHA</dt>
    <dd>{{ build.gh_commit_sha }}</dd>
  </dl>

  {% if build.status == 'enqueued' %}
    <script>
      setTimeout(function () { location.reload(true); }, 3000);
    </script>
  {% endif %}

  {% for job in build.jobs %}
    <h4>{{ job.hook_call.hook.title }} hook</h4>
    <dl>
      <dt>Started at</dt>
      <dd>{{ job.started_at }}</dd>
      <dt>Finished at</dt>
      <dd>{{ job.finished_at }}</dd>
      <dt>Return code</dt>
      <dd>{{ job.return_code }}</dd>
      <dt>
        Output 
        {% if job.is_finished() %}
          (<a href="{{ url_for('.job_log', project_id=project.id, id=job.id) }}">download</a>,
          <a href="{{ url_for('.job_restart', project_id=project.id, id=job.id) }}">restart</a>)
        {% endif %}
      </dt>
      <dd>
        {% with id='job-{}-log'.format(job.id) %}
          <pre id="{{ id }}" class="job-log">{{ (job.stdout and job.stdout.decode('utf-8') or '')|ansi2html|safe }}</pre>
          <script language="javascript">
            $(function() {
                $('#{{ id }}').html(function(index, html) {
                    if (html != '') {
                        return html.replace(/\n*$/, '').replace(/^(.*)$/mg, "<span class=\"line\">$1</span>");
                    }
                });
            });
          </script>
          {% if not job.is_finished() and job.task_uuid %}
            <script language="javascript">
                var s = new WebSocket(
                    '{{ tailer_url_template.format(task_uuid=job.task_uuid) }}');

                s.onopen = function() {
                    console.debug('connected');
                };

                s.onmessage = function(message) {
                    var data = $.parseJSON(message.data)
                    if (data.type == 'message') {
                        var log = $('#{{ id }}');
                        log.scrollTop(log[0].scrollHeight);
                        if (data.content != '') {
                            log[0].innerHTML += data.content.replace(/\n*$/, '').replace(
                                /^(.*)$/mg, "<span class=\"line\">$1</span>") + '\n';
                        }
                    } else if (data.type == 'status' && data.content == 'finished') {
                        location.reload(true);
                    }
                };
                
                s.onerror = function(e) {
                    console.error(e);
                };

                s.onclose = function(e) {
                    console.debug('closed');
                };
            </script>
          {% endif %}
        {% endwith %}
      </dd>
    </dl>
  {% endfor %}
{% endblock %}
