{% extends 'projects/_base.html' %}

{% from '_utils.html' import render_status, render_pagination %}

{% set active_tab = 'build-history' %}

{% block content %}
<table class="build-history  table">
  <thead>
    <tr>
      <th>#</th>
      <th>Status</th>
      <th></th>
      <th>Commit SHA</th>
      <th class="commit-message">Commit message</th>
      <th>Started at</th>
      <th>Finished at</th>
    </tr>
  </thead>
  <tbody>
    {% for build in builds %}
      <tr>
        <td>
          <a href="{{ url_for('.build', project_id=project.id, id=build.id) }}">
            {{ build.number }}
          </a>
        </td>
        <td>{{ render_status(build.status) }}</td>
        <td>
          <a href="{{ url_for('.build', project_id=project.id, id=build.id) }}" class="btn btn-default">
            Show
          </a>
        </td>
        <td>
          <a href="{{ build.get_github_com_commit_url() }}">{{ build.gh_commit_sha[:10] }}</a>
        </td>
        <td class="commit-message">{{ build.gh_commit_message }}</td>
        <td>{{ build.started_at or '—' }}</td>
        <td>{{ build.finished_at or '—' }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{{ render_pagination(pagination, endpoint=request.endpoint,
                     url_kwargs=request.view_args.copy()) }}
{% endblock %}
