{% extends 'projects/_build.html' %}

{% block extra_head %}
  {{ super() }}
  <script src="/static/js/tailer.js"></script>
{% endblock %}

{% block job_content %}
  <dl class="dl-horizontal">
    <dt>Started at</dt>
    <dd>{{ job.started_at and job.started_at|precise_moment or '—' }}</dd>
    {% if job.finished_at %}
      <dt>Finished at</dt>
      <dd>{{ job.finished_at|precise_moment }}</dd>
    {% endif %}
    <dt>Duration</dt>
    <dd>
      {% if job.finished_at %}
        {{ moment(job.finished_at).fromTime(job.started_at, no_suffix=True) }}
      {% else %}
        {{ moment(job.finished_at).fromNow(no_suffix=True, refresh=True) }}
      {% endif %}
    </dd>
    <dt>Return code</dt>
    <dd>{{ job.return_code }}</dd>
  </dl>

  {% if job.is_finished() %}
    <div class="job-actions  clearfix">
      <a href="{{ url_for('.job_log', project_id=project.id, id=job.id) }}"
         class="btn btn-default pull-right">
        <span class="glyphicon glyphicon-download-alt"></span>
      </a>
      <a href="{{ url_for('.job_restart', project_id=project.id, id=job.id) }}"
         class="btn btn-default">
        <span class="glyphicon glyphicon-refresh"></span> Restart
      </a>
    </div>
  {% endif %}
  
  <pre class="job-log"
       data-job-id="{{ job.id }}"
       {% if job.status == 'pending' %}data-tailer-url="{{ job.tailer_url }}"{% endif %}>{#
    #}{% if job.is_finished() -%}
      {{ job.stdout.decode('utf-8')|ansi2html|safe }}
    {%- endif %}{#
  #}</pre>
{% endblock %}
