{% extends 'projects/_base.html' %}

{% set active_tab = 'settings' %}

{% block content %}
  <h3>Hooks</h3>

  {% if project.hooks.first() %}
    <div class="list-group">
      {% for hook in project.hooks %}
        <div class="list-group-item">
          <h4>{{ hook.title }}</h4>
          <dl>
            <dt>Docker image</dt>
            <dd>{{ hook.docker_image }}</dd>
            <dt>Build script</dt>
            <dd><pre>{{ hook.build_script }}</pre></dd>
          </dl>

          {% if is_current_user_a_manager %}
            <a class="btn btn-default" id="edit-hook-{{ hook.id }}"
               href="{{ url_for('.edit_hook', project_id=project.id,
                                hook_id=hook.id) }}">
              <span class="glyphicon glyphicon-edit"></span> Edit
            </a>

            <form method="POST" style="display: inline;"
                  action="{{ url_for('.delete_hook', project_id=project.id, hook_id=hook.id) }}"
                  id="delete-hook-{{ hook.id }}">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-remove-sign"></span> Delete
              </button>
            </form>
          {% endif %}
        </div>
      {% endfor %}
    </div> 
  {% else %}
    <p>Hooks haven't been configured yet.</p>
  {% endif %}

  {% if is_current_user_a_manager %}
    <a href="{{ url_for('.add_hook', project_id=project.id) }}" class="btn btn-default">
      <span class="glyphicon glyphicon-plus-sign"></span>
      Add a new hook
    </a>
  {% endif %}
  
  <hr>

  <h3>GitHub badge</h3>
  <p>
    You can use the status buttons to show the current status of your project.
    <pre><code>&lt;a href="http://{{ fqdn }}/projects/{{ project.id }}/builds/latest/?ref=master"&gt;
  &lt;img src="https://{{ fqdn }}/badges/{{ project.gh_full_name }}/master" height="18"&gt;
&lt;/a&gt;</code></pre>
  </p>

  <hr>

  <h3>Members</h3>

  <div class="list-group  members">
    {% for member, is_manager in [(project.owner, True)] + members %}
    <div class="list-group-item  member {% if member == project.owner %}owner{% endif %}">
        <img src="{{ member.gh_avatar_url }}" height="38" class="img-circle">
        {{ member.gh_login }}
        {% if member == project.owner %}
          (owner)
        {% elif is_manager %}
          (manager)
        {% endif %}
        {% if is_current_user_a_manager -%}
          {% if member != project.owner %}
            <form id="delete-member-{{ member.id }}" method="POST" class="pull-right"
                  action="{{ url_for('.delete_membership', project_id=project.id,
                                     user_id=member.id) }}">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-remove-sign"></span> Delete
              </button>
            </form>

            <a class="btn btn-default pull-right  edit" id="edit-member-{{ member.id }}"
               href="{{ url_for('.edit_membership', project_id=project.id,
                                user_id=member.id) }}">
              <span class="glyphicon glyphicon-edit"></span> Edit
            </a>
          {% endif %}
        {% endif %}
      </div>
    {% endfor %}
  </div> 

  {% if is_current_user_a_manager -%}
    <a href="{{ url_for('.add_membership', project_id=project.id) }}" class="btn btn-default">
      <span class="glyphicon glyphicon-plus-sign"></span>
      Add a new member
    </a>
  {% endif %}
{% endblock %}
