{% extends 'projects/_base.html' %}

{% set active_tab = 'settings' %}

{% block content %}
  <h3>Hooks</h3>

  {% if project.hooks.first() %}
    <div class="list-group">
      {% for hook in project.hooks %}
        <div class="hook  list-group-item">
          {{ hook.title }}

          {% if is_current_user_a_manager %}
            <form method="POST" class="delete-form  pull-right"
                  action="{{ url_for('.delete_hook', project_id=project.id, hook_id=hook.id) }}"
                  id="delete-hook-{{ hook.id }}">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-remove-sign"></span> Delete
              </button>
            </form>

            <a class="btn btn-default pull-right" id="edit-hook-{{ hook.id }}"
               href="{{ url_for('.edit_hook', project_id=project.id, hook_id=hook.id) }}">
              <span class="glyphicon glyphicon-edit"></span> Edit
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>Hooks haven't been configured yet.</p>
  {% endif %}

  {% if is_current_user_a_manager %}
    <a href="{{ url_for('.add_hook', project_id=project.id) }}" class="btn btn-default">
      <span class="glyphicon glyphicon-plus-sign"></span>
      Add a new hook
    </a>

    <form action="{{ url_for('.ensure_hooks', project_id=project.id) }}"
          method="POST" id="ensure-hooks">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <button type="submit" class="btn btn-default"
              data-toggle="tooltip" data-placement="top"
              title="In case if some of the GitHub hooks were deleted or corrupted">
        <span class="glyphicon glyphicon-upload"></span>
        Restore hooks on GitHub
      </button>
    </form>
  {% endif %}
  
  <h3>GitHub badge</h3>
  <p>
    You can use the status buttons to show the current status of your project.
    <pre><code>&lt;a href="{{ example_badge_href }}"&gt;
  &lt;img src="{{ example_badge_src }}" height="18"&gt;
&lt;/a&gt;</code></pre>
  </p>

  <h3>Members</h3>

  <div class="list-group  members">
    {% for member, is_manager in [(project.owner, True)] + members %}
    <div class="list-group-item  member {% if member == project.owner %}owner{% endif %}">
        <img src="{{ member.gh_avatar_url }}" height="38" class="img-circle">
        {{ member.gh_login }}
        {% if member == project.owner %}
          (owner)
        {% elif is_manager %}
          (manager)
        {% endif %}
      </div>
    {% endfor %}
  </div>

  {% if is_current_user_a_manager %}
    <form action="{{ url_for('.sync_memberships', id=project.id) }}"
          method="POST" id="sync-project-memberships">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-refresh"></span> Synchronize members with GitHub
      </button>
    </form>
  {% endif %}

  {% if can_current_user_delete_a_project -%}
    <hr>

    <script>
      var deleteProjectURL = '{{ url_for('.delete_project', id=project.id) }}';
      $(function() {
        $('#delete-project').attr('action', deleteProjectURL);
        $('#delete-project').submit(function() {
          var text = prompt('This will irrevocably destroy all project data. ' +
                            'If you do want to continue, please type a full GitHub name ' +
                            'of the project.');
          return (text === '{{ project.gh_full_name }}');
        });
      });
    </script>

    <form id="delete-project" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <button type="submit" class="btn btn-danger">
        <span class="glyphicon glyphicon-remove-sign"></span> Delete Project
      </button>
    </form>
  {% endif %}
{% endblock %}

{% block onload_js %}
  $('#ensure-hooks button').tooltip();
{% endblock %}
